<br /><br /><br /><h1> APPL </h1>

{{! una volta che la API è caricaata questo serve a leggere tutti i suoi chiave valore }}
{{#each stock}}
  {{#each this}}<br />
    {{@key}}
    |
    {{this}}
  {{/each}}
  <br />
{{/each}}<br />